/* ------------------------ 登入資訊 ------------------------ */

.sign {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.sign .s_box,
.sign .s_box a {
    display: flex;
    align-items: center;
}

.sign .s_box:last-of-type {
    justify-content: flex-end;
}

.sign .s_box p {
    margin-bottom: 0;
    margin-left: .5rem;
}

.sign .s_box a {
    color: #212529;
}


/* ------------------------ 內容趨 ------------------------ */


/* ----------------- c_left ----------------- */

.link_disabled {
    color: #212529;
    background: #D1D1D1;
    border-radius: 8px;
    padding: .2rem;
}

.link_disabled a:hover {
    color: #212529;
    opacity: 1;
    cursor: initial;
}

.mobile_title {
    font-size: 1.125rem;
    text-align: center;
    color: #136498;
    background: #CDEBFF;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
    position: relative;
}

.mobile_title p {
    margin-bottom: 0;
}

.mobile_title .fa-angle-down {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.mobile_dropdown {
    background: #F3F3F3;
    border-radius: 12px;
    padding: 1rem 0;
}

.mobile_dropdown>li {
    padding: .3rem 1.2rem;
    position: relative;
}

.mobile_dropdown li a {
    font-size: 1.125rem;
}

.mobile_dropdown>li.active>a {
    color: #136498;
    font-weight: 500;
}

.mobile_dropdown>li.active::before {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    width: 5px;
    height: 25px;
    background: #136498;
    border-radius: 2px;
}

.m_dropdown_b {
    padding-left: 3rem;
}

.m_dropdown_b li {
    list-style: disc;
}

.m_dropdown_b li a {
    padding: .3rem 0;
}

.m_dropdown_b li.active,
.m_dropdown_b li.active a {
    color: #136498;
    position: relative;
}

@media (min-width:992px) {
    .mobile_title {
        display: none;
    }
}

@media (max-width:991px) {
    .mobile_title {
        margin-bottom: 0;
    }
    .mobile_dropdown {
        background: #FFFFFF;
        border-radius: 11px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: .5rem;
        display: none;
    }
    .mobile_dropdown li {
        border-bottom: 1px solid #CDEBFF;
    }
    .mobile_dropdown li a {
        color: #136498;
        text-align: center;
        padding: 0.3rem;
    }
    .mobile_dropdown>li:last-of-type {
        border-bottom: none;
    }
    .mobile_dropdown li.active::before {
        background: transparent;
    }
    .m_dropdown_b {
        display: none;
    }
}


/* ----------------- c_right ----------------- */

.mobile_local {
    font-size: 1.125rem;
    color: #fff;
    background: #1A7AB8;
    border-radius: 2px;
    padding: .3rem 1rem;
    margin: .2rem 0 1rem;
}

.progressbar {
    overflow: hidden;
    counter-reset: step;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
}

.progressbar a {
    display: inline;
}

.progressbar a {
    color: #444;
    text-transform: uppercase;
    width: 25%;
    float: left;
    position: relative;
}

.progressbar a.active {
    color: #fff;
}

.progressbar a::before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 1rem;
    background: #C9C6C6;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1;
}

.progressbar a::after {
    content: '';
    width: 90%;
    height: 2px;
    background: #C9C6C6;
    position: absolute;
    left: -45%;
    top: 20px;
    z-index: -1;
}

.progressbar a:first-child:after {
    display: none;
}

.progressbar a.active::before {
    background: #1e67a2;
}

@media (min-width:992px) {
    .mobile_local,
    .progressbar {
        display: none;
    }
}