/* ------------------------ firm ------------------------ */

.form {
    padding: 0 1rem;
}

.f_field {
    margin-bottom: 1rem;
}

label {
    color: #1A7AB8;
    padding: 0 !important;
}

input {
    letter-spacing: 3px;
}

.form-group input {
    border: 2px solid #1A7AB8;
    border-radius: 8px;
    padding: .5rem 15px;
}

input.form-control-plaintext {
    border: none;
    background: #D6D6D6;
}

.form-group .row input {
    width: 100%;
}

.password {
    position: relative;
}

#password_img,
#password_img_b {
    width: auto;
    height: auto;
    position: absolute;
    right: 19px;
    top: 48px;
}

.btn {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #1A7AB8;
    border: 2px solid #1A7AB8;
    border-radius: 8px;
    margin-top: .8rem;
}

.btn:hover {
    color: #fff;
}

@media (max-width:991px) {
    .form {
        padding: 0;
    }
    #content {
        margin-left: 0;
    }
    #password_img,
    #password_img_b {
        right: 15px;
    }
}


/* ------------------------ applicationa ------------------------ */

h2 {
    font-size: 1.25rem;
    color: #1A7AB8;
    border-bottom: 1px solid #1A7AB8;
    padding: .5rem;
    margin-bottom: 1rem;
}

.form-group p {
    color: #1A7AB8;
    margin-bottom: .5rem;
}

.form-group-title {
    border-bottom: 1px dashed #1A7AB8;
    padding: 0 .2rem;
}

input[type=radio] {
    position: relative;
}

.form-check-label {
    color: #212529;
}

input[type=radio]:checked:after {
    content: " ";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #767677;
}

select {
    border: 2px solid #1A7AB8;
    border-radius: 8px;
}

.form-check-label {
    display: initial;
}

.form-check-label .color,
.d-flex .color {
    color: #5F5F5F;
}

.d-flex p {
    margin-bottom: 0;
}

.form-group p.color_b {
    color: inherit;
}

.color {
    color: transparent;
}

textarea {
    border: 2px solid #1A7AB8 !important;
}

@media (max-width:991px) {
    h2 {
        padding: .5rem 0;
    }
    .col-md-11.pd {
        padding: 0;
        margin-bottom: .5rem;
    }
}

@media (max-width:500px) {
    h2 {
        border-bottom: none;
        padding-left: 1rem;
        position: relative;
    }
    h2::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 31px;
        background: #1A7AB8;
    }
}


/* ------------------------ upload ------------------------ */

.upload_h2 {
    margin-bottom: 0;
}

.upload {
    padding: 0 1rem;
}

.upload_title {
    color: #1A7AB8;
    border-bottom: 1px solid #1A7AB8;
    padding: 0 .3rem .5rem;
}

.upload_inner {
    border-bottom: 1px solid #1A7AB8;
    padding: 1rem .3rem;
}

.file_img_box {
    display: flex;
}

.file_img {
    margin-right: .5rem;
}

.file_img:last-of-type {
    margin-right: 0;
}

.upload_btn_box {
    position: relative;
}

label.upload_btn {
    color: #fff;
    text-align: center;
    background: #007E05;
    border: 1px solid #007E05;
    border-radius: 4px;
    display: inline-block;
    padding: .2rem .5rem !important;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
}

label.upload_btn::before {
    content: url(../images/登出_2.png);
    margin-right: .3rem;
}

label.field_disabled {
    color: #212529;
    text-align: center;
    background: #F0F0F0;
    border: 1px solid #212529;
    border-radius: 4px;
    display: inline-block;
    padding: .2rem .5rem !important;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
}

label.field_disabled::before {
    content: url(../images/登出_3.png);
    margin-right: .3rem;
}

label.upload_btn:focus {
    outline: 3px dashed #B82D2C;
}

input[type=file] {
    font-size: initial;
    width: 82.8px;
    height: 38.38px;
    position: absolute;
    left: 0;
    z-index: -1;
    color: transparent;
}

.file_name {
    word-break: break-word;
    margin-bottom: 0;
}

.time,
.format {
    font-size: .9rem;
    color: #5F5F5F;
}

.inner_title {
    color: #1A7AB8;
    margin-bottom: 0;
}

.inner_txt {
    font-size: 1.05rem;
    color: #5F5F5F;
    margin: .3rem 0 0;
}

.file_ing {
    color: #1A7AB8;
}

.file_pass {
    color: #007E05;
}

.file_no_pass {
    color: #D14141;
}

.file_mobile {
    margin-bottom: .5rem;
}

.file_btn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.file_btn input {
    color: #fff;
    background: #C94800;
    border-radius: 8px;
    border: none;
    padding: .5rem;
}

.file_btn .save {
    color: #fff;
    background: #1A7AB8;
}

.change_title {
    display: flex;
    align-items: center;
}

.change_title img {
    margin-right: .5rem;
}

@media (min-width:991px) {
    .upload_h2 {
        display: none;
    }
    .file_mobile {
        display: none;
    }
}

@media (max-width:991px) {
    .upload {
        padding: 0;
    }
    .file_img_box {
        margin-bottom: .3rem;
    }
    .upload_title {
        display: none;
    }
    .upload_btn_box {
        margin: .7rem 0;
    }
    .file_pc {
        display: none;
    }
}