/* ------------------------ banner ------------------------ */

.banner {
    margin-bottom: 6rem;
}

.slick-slide img {
    width: 100%;
    max-height: 500px;
    height: auto;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: #212529;
    opacity: 0;
}

.slick-prev:focus::before,
.slick-next:focus::before {
    opacity: .75;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li,
.slick-dots li button {
    width: 35px;
}

.slick-dots li button:before {
    width: 18px;
    height: 18px;
    content: '';
    border-radius: 50%;
    background: rgba(26, 26, 26, 0.9);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.slick-dots li.slick-active button:before {
    width: 35px;
    border-radius: 25px;
    background: rgba(0, 99, 165, 0.9);
    opacity: 1;
    transition: .5s;
}

.slick-dots li button:focus {
    outline: none !important;
}

@media (min-width: 576px) {
    .banner .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .banner .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .banner .container {
        max-width: 1300px;
    }
}

@media (max-width:768px) {
    .banner {
        margin-bottom: 3rem;
    }
    .slick-dots li,
    .slick-dots li button,
    .slick-dots li.slick-active button:before {
        width: 15px;
    }
    .slick-dots li button:before {
        width: 8px;
        height: 8px;
    }
}

@media (max-width:576px) {
    .banner .container {
        padding: 0;
    }
}

@media (max-width:500px) {
    .banner {
        margin-bottom: 2rem;
    }
}


/* ------------------------ links ------------------------ */

.links {
    margin: 4rem 0;
}

.links .container {
    display: flex;
    position: relative;
}

#content {
    position: absolute;
    top: -20px;
    left: 5px;
}

.links_box {
    width: 30%;
    margin: 0 1.66666%;
}

.links_box a {
    text-align: center;
}

@media (max-width:500px) {
    .links {
        margin: 3rem 0;
    }
}


/* ------------------------ news ------------------------ */

.news {
    background: #F1F1F1;
    margin-top: 2rem;
    padding: 5rem 0;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}

h2::before,
h2::after {
    content: url(../images/gh-deco.png);
}

h2::before {
    margin-right: .5rem;
}

h2::after {
    margin-left: .5rem;
}

.news_txt p {
    margin-bottom: 0;
    text-align: justify;
}

.news_txt .date {
    font-weight: 500;
    color: #1A7AB8;
    margin-bottom: .5rem;
}

.field .txt {
    max-height: 48px;
    word-break: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field a:hover .txt {
    color: #1a7ab8;
}

@media (min-width: 300px) {
    .tab_title {
        display: block;
    }
    .tab_title ul {
        display: flex;
    }
    .tab_title ul li {
        margin-right: 1rem;
    }
    .tab_title ul li a {
        background: #FFFFFF;
        color: #1A7AB8;
        border: 1px solid #1A7AB8;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(150, 150, 150, 0.25);
        padding: .5rem .8rem;
    }
    .inner_box {
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
    }
    .inner_box img {
        display: none;
    }
    .news h3 {
        display: none;
    }
    .news_box {
        display: initial;
    }
    .news_txt {
        background: none;
        box-shadow: none;
        padding: 0;
        margin-top: 0;
    }
    .news_txt .field {
        background: #FFFFFF;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid #1A7AB8;
        padding: .5rem 1rem;
        margin-bottom: .8rem;
    }
    .news_txt .field:last-of-type {
        border-bottom: 1px solid #1A7AB8;
    }
    .hide,
    div[aria-hidden="true"] {
        display: none;
    }
    .tab_content>div {
        display: none;
        width: 100%;
        margin: 0 auto;
    }
    .tab_content>div.selected,
    div[aria-hidden="false"] {
        display: block;
    }
    .tab_title ul li a.selected {
        background: #1A7AB8;
        color: #fff;
    }
    .more_btn_box {
        text-align: center;
        margin-top: 1.5rem;
    }
    .more_btn {
        display: inline-block;
        color: #1A7AB8;
        background: #CDEBFF;
        border-radius: 17px;
        padding: .5rem 2.5rem;
    }
}

@media (min-width: 1200px) {
    .tab_title {
        display: none;
    }
    .news_box {
        display: flex;
    }
    .news h3 {
        display: block;
        text-align: center;
        border: 2px solid #1A7AB8;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: .5rem .2rem;
        margin-bottom: 1.5rem;
    }
    .inner_box img {
        display: block;
        border-radius: 15px;
    }
    .inner_box {
        background: #DEF2FF;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
        text-align: center;
        padding: 1.2rem;
        position: relative;
    }
    .news_txt {
        background: #FCFCFC;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem;
        margin: -35px 0.7rem 0;
        position: relative;
    }
    .news_txt .field {
        border-bottom: 1px solid #B0B0B0;
        padding: .5rem;
        margin-bottom: .5rem;
    }
    .news_txt .field:last-of-type {
        border-bottom: none;
    }
    .tab_content>div {
        display: block;
        width: 30%;
        margin: 0 1.66666%;
    }
    .more_btn {
        position: absolute;
        right: 21px;
        bottom: 23px;
        color: #FFFFFF;
        background: #1A7AB8;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        padding: .3rem 1.5rem;
        transition: .5s;
    }
    .more_btn:hover {
        color: #fff;
        transform: translateY(-0.25em);
        transition: .5s;
    }
}

@media (max-width:500px) {
    .news {
        padding: 2rem 0;
    }
}

@media (max-width:425px) {
    .tab_title ul {
        justify-content: space-around;
    }
    .tab_title ul li {
        margin-right: 0;
    }
}


/* ------------------------ 成果案數 ------------------------ */

.case {
    margin-top: 2rem;
    padding: 5rem 0;
}

.case h2 {
    margin-bottom: .8rem;
}

.small_label {
    font-size: 1.65rem;
    color: #797A7B;
    text-align: center;
}

.case_box {
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem;
}

.total {
    margin-right: 6rem;
    display: inline-block;
}

.total:last-of-type {
    margin-right: 0;
}

.total h3 {
    color: #fff;
    text-align: center;
    background: #D14141;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    margin-bottom: 0;
}

.total p {
    font-size: 4rem;
    text-align: center;
    color: #D14141;
    border-radius: 0 0 15px 15px;
    background: #F1F1F1;
    box-shadow: 3px 4px 8px rgba(132, 132, 134, 0.25);
    margin-bottom: 0;
    padding: 1rem;
}

.case_year {
    display: flex;
    flex-wrap: wrap;
}

.case_year a {
    width: 17%;
    margin: 0 1.5% 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #1A7AB8;
    background: #FFFFFF;
    border: 2px solid #1A7AB8;
    border-radius: 10px;
    padding: 1rem;
}

.case_year a:hover,
.case_year a:focus {
    color: #fff;
    background: #1A7AB8;
}

@media (max-width:1200px) {
    .total p {
        font-size: 3.5rem;
    }
}

@media (max-width:1199px) {
    .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .total {
        margin-right: 0;
    }
}

@media (max-width:625px) {
    .case_year a {
        width: 22%;
        margin: 0 1.5% 1.2rem;
    }
}

@media (max-width:500px) {
    .case {
        padding: 2rem 0;
    }
    .total p {
        font-size: 2rem;
    }
    .case_year a {
        width: 30%;
        margin: 0 1.66666% 1.2rem;
    }
}

@media (max-width: 425px) {
    .col-3 {
        padding: 0 10px;
    }
}

@media (max-width:375px) {
    .case_year a {
        width: 45%;
        margin: 0 2.5% 1.2rem;
    }
}