:root {
    scroll-padding-top: 6.5rem;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

a {
    color: #212529;
    display: block;
}

a,
a:hover {
    text-decoration: none;
}

input:focus,
button:focus,
a:focus,
.page-link:focus {
    outline: 3px dashed #B82D2C !important;
}

img {
    max-width: 100%;
}

.skip-nav {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 99;
}

.skip-nav:focus {
    width: auto;
    height: auto;
    padding: 6px;
    color: #212529;
    background: #fff;
}


/* ------------------------ 天 ------------------------ */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #a4a1a1;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    z-index: 6;
}

nav .container {
    position: relative;
}

.logo_img {
    position: absolute;
    left: .8vw;
    bottom: 5px;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 0;
}

.top_navbar,
.main_navbar {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.top_navbar {
    padding: 5px 0;
}

.top_navbar li a {
    color: #4B4A4A;
}

.top_navbar li.link a {
    margin-right: 1.3rem;
    position: relative;
}

.top_navbar li.link a::before {
    content: '';
    width: 2px;
    height: 15px;
    background: #4B4A4A;
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
}

.top_navbar li:first-of-type a {
    margin-right: .5rem;
}

.main_navbar>li>a {
    font-size: 1.3rem;
    margin-right: 1.8rem;
    padding: 1.2rem 0;
    position: relative;
}

.main_navbar>li>a i {
    display: none;
}

.main_navbar>li>a:hover,
.main_navbar>li>a:focus {
    color: #1a7ab8;
}

.main_navbar>li:last-of-type>a {
    margin-right: 0;
}

.main_navbar>li>a::before {
    content: '';
    width: 2px;
    height: 20px;
    background: #212529;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
}

.main_navbar>li:nth-last-child(2)>a::before,
.main_navbar>li:nth-last-child(3)>a::before,
.main_navbar>li:last-of-type>a::before {
    background: transparent;
}

.main_navbar>li {
    position: relative;
}

.dropdown-menu {
    min-width: 12rem;
    width: auto;
    /* top: 76px; */
    border-radius: 0;
    background: #00263f;
    padding: 0.5rem;
    margin: 0;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu li a {
    color: #fff;
    margin-bottom: .3rem;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    color: #f7b028;
}

.main_navbar a.application {
    color: #fff;
    border-radius: 15px;
    background: #c94800;
    padding: .4rem 1rem;
}

.main_navbar a.application:hover,
.main_navbar a.application:focus {
    color: #fff;
}

.burger,
.mobile_link,
.mobile_fixed_btn {
    display: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media (max-width:1400px) {
    .main_navbar>li>a {
        font-size: 1.2rem;
    }
}

@media (min-width:1500px) {
    nav .container {
        width: 85%;
        max-width: 1700px;
    }
}

@media (max-width:1199px) {
    .mobile_link,
    .mobile_fixed_btn {
        display: block;
    }
    nav {
        height: 78px;
    }
    nav .container {
        height: 78px;
    }
    .logo_img {
        left: 50%;
        bottom: 3px;
        transform: translateX(-50%);
    }
    .burger {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 44px;
        height: 44px;
        cursor: pointer;
        position: relative;
    }
    .icon-bar {
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background: #1A7AB8;
        transition: 0.3s;
        position: absolute;
    }
    .icon-bar:nth-of-type(1) {
        top: 12px;
    }
    .icon-bar:nth-of-type(3) {
        bottom: 12px;
    }
    .burger.open .icon-bar:nth-of-type(1) {
        transform: rotate(45deg);
        top: 22px;
    }
    .burger.open .icon-bar:nth-of-type(2) {
        transform: scale(0);
    }
    .burger.open .icon-bar:nth-of-type(3) {
        transform: rotate(-45deg);
        bottom: 20px;
    }
    .burger_box {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar {
        width: 50vw;
        height: calc(100% - 70px);
        position: fixed;
        top: 77px;
        right: -100%;
        background: #00263F;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        padding: .5rem;
        transition: .5s;
    }
    .navbar.show {
        right: 0;
        transition: .5s;
    }
    .top_navbar {
        display: none;
    }
    .main_navbar_box {
        width: 100%;
        padding: 1rem;
    }
    .main_navbar {
        flex-direction: column;
    }
    .main_navbar>li {
        width: 100%;
    }
    .main_navbar>li>a {
        width: 100%;
        font-size: 1rem;
        color: #fff;
        text-align: left;
        padding: 1rem .2rem .5rem;
        border-bottom: 1px solid #494D50;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_navbar>li>a:hover {
        color: #fff;
    }
    .main_navbar>li>a.active {
        color: #F7B028;
    }
    .main_navbar>li>a i {
        display: block;
        transition: .5s;
    }
    .main_navbar>li>a.active i {
        transform: rotate(180deg);
        transition: .5s;
    }
    .main_navbar a.application {
        background: none;
        border-radius: 0;
        padding: 1rem .2rem .5rem;
    }
    .dropdown-menu {
        width: 100%;
        min-width: auto;
        position: inherit;
        top: 0;
        border: none;
        padding: 0 .8rem;
    }
    .dropdown-menu li a {
        padding: .5rem 0;
        border-bottom: 1px solid #494D50;
    }
    .mobile_fixed_btn {
        padding: 1rem 1rem 0;
        display: flex;
        align-items: center;
    }
    .mobile_fixed_btn .fixed_btn {
        margin-right: 1rem;
    }
}

@media (max-width:768px) {
    .logo_img {
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
    }
    .logo_img img {
        content: url(../images/手機.png);
    }
}

@media (max-width:500px) {
    .navbar {
        width: 75vw;
    }
}


/* ------------------------ 內容 ------------------------ */

.main {
    min-height: 70vh;
    margin-top: 6.5rem;
    margin-bottom: 3rem;
}

@media (max-width: 1320px) {
    .main {
        margin-top: 4.9rem;
    }
}


/* ------------------------ 地 ------------------------ */

footer {
    color: #fff;
    padding: 2rem 1rem;
    background: #00263F;
    position: relative;
}

.svg {
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
}

.svg::before {
    font-family: "Font Awesome 5 Free";
    font-size: 1.8rem;
    font-weight: 900;
    content: "\f107";
    color: #F7B028;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .top {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 13%;
    margin: 0 0.64285%;
}

.box a,
.box a:hover {
    color: #fff;
}

.box ul {
    padding-left: 3rem;
}

.box ul li {
    list-style: url(../images/dash.png);
    margin-bottom: .3rem;
}

.footer_title {
    display: flex;
    align-items: center;
}

.footer_title p {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-left: .5rem;
    letter-spacing: 1.5px;
}

.top {
    border-bottom: 1px solid #494D50;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.down_box {
    display: flex;
    justify-content: space-around;
}

#footer {
    color: #fff;
    display: inline-block;
}

.right p {
    margin-bottom: .3rem;
}

.down .left div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.down .left div:last-of-type {
    margin-bottom: 0;
}

.down .left div p {
    margin-right: 1rem;
    margin-bottom: 0;
}

.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fixed .fixed_btn {
    margin-bottom: .7rem;
}

.fixed .fixed_btn:last-of-type {
    margin-bottom: 0;
}

@media (max-width:1320px) {
    .fixed {
        display: none;
    }
}

@media (max-width:1199px) {
    .box {
        width: 15%;
        margin: 0 0.83333% 1rem;
    }
}

@media (max-width:991px) {
    .box {
        width: 23%;
        margin: 0 1% 1rem;
    }
    .down_box {
        flex-direction: column;
    }
    .left {
        margin-top: 1rem;
    }
}

@media (max-width:700px) {
    .box {
        width: 30%;
        margin: 0 1.66666% 1rem;
    }
}

@media (max-width:545px) {
    .box {
        width: 45%;
        margin: 0 2.5% 1rem;
    }
}

@media (max-width:400px) {
    .box {
        width: 100%;
        margin: 0 0 1rem;
    }
}

@media (max-width:383px) {
    .down .left img {
        margin-top: .5rem;
    }
}